* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
    display: flex;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.btn-small {
    background-color: #FFFFFF;
    padding: 6px 10px;
    border-radius: 15px;
    font-size: 10px;
}

.btn-big {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
}

.arrow::before {
    content: '\2B07';

}

.title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}

.text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.footer-title {
    color: #5D7ED7;
}




/* *HEADER */
header {
    width: 100%;
    height: 100%;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

/* Box logo/nav-bar/login */
.box-nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

/* logo */
.box-nav .logo {
    align-items: center;
}

/* nav-bar */
.nav-bar {
    justify-content: center;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar ul li {
    padding: 0 15px;
    display: inline-block;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

/* login */
.box-nav .login {
    justify-content: flex-end;
    align-items: center;
}

.box-nav .login a {
    text-decoration: none;
    color: #000;
}

/* Box-intro */
.box-intro {
    height: 550px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.box-intro .intro {
    max-width: 750px;
    justify-content: center;
    align-items: center;
}

.buttons {
    padding-top: 20px;
}

.buttons .mac,
.browser {
    display: inline-block;
    margin-left: 15px;
}

.buttons .browser {
    padding-top: 12px;
    background-color: #23272A;
}

.buttons .browser a {
    background-color: #23272A;
    color: #FFFFFF;
}

.buttons .mac a,
.browser a {
    text-decoration: none;
}
/* /HEADER */




/* *MAIN */
/* Website info */

section {
    padding: 80px 0;
}



/* *Section Server */
.box-server {
    justify-content: center;
}

/* Immagine */
.box-server .img {
    width: 60%;
}

/* Contenuto */
.box-server .content {
    width: 40%;
}

/* Testo */
.box-server .content .title {
    padding-top: 25px;
}



/* *Section Channel */
.box-channel {
    justify-content: center;
    flex-direction: row-reverse;
}

/* Immagine */
.box-channel .img {
    width: 60%;
}

/* Contenuto */
.box-channel .content {
    width: 40%;
}



/* *Section Community */
.box-community {
    justify-content: center;
}

/* Immagine */
.box-community .img {
    width: 60%;
}

/* Contenuto */
.box-community .content {
    width: 40%;
}



/* *Section Audio-video */
.box-video-audio {
    justify-content: center;
}

/* Immagine */
.box-video-audio .audio-video img {
    justify-content: center;
    width: 100%;
}

.audio-video #star {
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
}

.button {
    text-align: center;
    padding-bottom: 50px;
}

.button a {
    background-color: #7189DA;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
/* /MAIN */




/* *FOOTER */
footer {
    color: #FFFFFF;
    background-color: #23272A;
}

/* Nav Footer */
.row-nav {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row-nav .social {
    width: 30%;
}

.row-nav .social .title {
    font-size: 40px;
    text-align: left;
}

.row-nav .social .text {
    font-size: 20px;
    text-align: left;
}

.row-nav .menu {
    width: 70%;
}

.row-nav .menu .col {
    flex-basis: 25%;
}

.row-nav .menu .col p {
    line-height: 35px;
}

.logo-ita img {
    width: 25px;
    padding-right: 5px;
}

.social-media span {
    padding-right: 15px;
}

.social-media span i {
    padding-top: 15px;
    font-size: 20px;
}



/* Sign up */
.row-signup {
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid #5D7ED7;
    padding-top: 10px;
    padding-bottom: 50px;
}

.row-signup .box-signup {
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.box-signup .logo {
    align-items: center;
}

.box-signup .registrati {
    background-color: #5D7ED7;
}

.box-signup .registrati a {
    text-decoration: none;
    color: #FFFFFF;
}

/* /FOOTER */