* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.d-flex {
    display: flex;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}



/* *HEADER */
header {
    width: 100%;
    height: 100%;
}

/* Box logo/nav-bar/login */
.box-nav {
    background-color: #ADD8E6;
    justify-content: center;
    align-items: center;
}

/* logo */
.box-nav .logo {
    width: 250px;
    height: 50px;
    background-color: #daa521;
    border: 1px dashed #000;
    align-items: center;
    padding-left: 10px;
}

/* nav-bar */
.nav-bar {
    width: 750px;
    height: 50px;
    background-color: #daa521;
    border: 1px dashed #000;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
}

/* login */
.box-nav .login {
    width: 250px;
    height: 50px;
    background-color: #daa521;
    border: 1px dashed #000;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

/* Box-intro */
.box-intro {
    width: 100%;
    height: 500px;
    background-color: #00008B;
    justify-content: center;
    align-items: center;
}

/* intro titolo/descrizione/ver. Mac/Browser */
.box-intro .intro {
    width: 950px;
    height: 400px;
    background-color: #EE81EE;
    border: 1px dashed #000;
}
/* */HEADER */




/* *MAIN */
/* Website info */
main {
    width: 100%;
    height: 100%;
}

section {
    padding: 40px 0;
}

/* *Section Server */
.box-server {
    justify-content: center;
    align-items: center;
}

/* Immagine */
.box-server .img {
    width: 60%;
    height: 520px;
    background-color: #1D90FF;
    border: 1px dashed #000;
}
/* Testo */
.box-server .text {
    width: 40%;
    height: 520px;
    background-color: #ffbfcb;
    border: 1px dashed #000;
    
}


/* *Section Channel */
.box-channel {
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #D3D3D3;
}

/* Immagine */
.box-channel .img {
    width: 60%;
    height: 520px;
    background-color: #1D90FF;
    border: 1px dashed #000;
}
/* Testo */
.box-channel .text {
    width: 40%;
    height: 520px;
    background-color: #ffbfcb;
    border: 1px dashed #000;
}


/* *Section Community */
.box-community {
    justify-content: center;
    align-items: center;
}

/* Immagine */
.box-community .img {
    width: 60%;
    height: 520px;
    background-color: #1D90FF;
    border: 1px dashed #000;
}
/* Testo */
.box-community .text {
    width: 40%;
    height: 520px;
    background-color: #ffbfcb;
    border: 1px dashed #000;
}


/* *Section Audio-video */
.box-video-audio {
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}

/* Immagine */
.box-video-audio .audio-video {
    width: 750px;
    height: 520px;
    background-color: #238B21;
    border: 1px dashed #000;
}
/* */MAIN */




/* *FOOTER */
footer {
    width: 100%;
    height: 100%;
}
/* Nav Footer */
.row-nav {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #000;
    border-bottom: 1px solid #D3D3D3;
}

.row-nav .social {
    width: 30%;
    height: 400px;
    background-color: #F08080;
    border: 1px dashed #000;
}

.row-nav .menu {
    width: 70%;
    height: 400px;
    background-color: #1EB1A9;
    border: 1px dashed #FFFFFF;
}

.row-nav .menu .col {
    flex-basis: 25%;
}


/* Sign up */
.row-signup {
    justify-content: center;
    align-items: flex-end;
    background-color: #000;
}

.row-signup .box-signup {
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #7fffd4;
    
}

.box-signup .logo {
    width: 10%;
    height: 40px;
    background-color: #feb5bf;
    border: 1px dashed #000;
    justify-content: center;
    align-items: center;
}

.box-signup .button {
    width: 10%;
    height: 40px;
    background-color: #feb5bf;
    border: 1px dashed #000;
    justify-content: center;
    align-items: center;
}
/* /FOOTER */